.objectdiv{
    float:none;
    padding: 10px;
    background-color: skyblue; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;    
}
.imagee{
    width: 100px;
    height:100px;
}
